<center>
    <img src="https://i.ibb.co/wQg0qzq/Banner.png" width="900" alt="KCode Banner"  />
</center>
<a href="https://www.linkedin.com/in/kauebr/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" ></a> <a href="mailto: kauemandarino@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" width="30" ></a><a href="
https://api.whatsapp.com/send?phone=5541991835800&text=Oi"> <img src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" width="30" ></a><a href="https://github.com/kauebr/"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30" ></a>

<HR>

> AINDA EM CRIAÇÃO... 

# Regressão linear múltipla
        Case de clientes de um banco, retirado do Kaggle em que a instituição estava querendo entender o motivo de uma alta no índice de cancelamentos
<HR>

## Objetivos:
*   Tratar paralelos e entender  possívels causas dos cancelamentos;
*   Gerar insights que possam ajudar na resolução do problema;
*   Usar a biblioteca scikit-learn para implantar um modelo de Regressão Linear Múltiplo;   
*   Criar, treinar e testar o modelo;
<HR>

<h1>Índice</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href=#DF>Criando DataFrame</a></li>
        <li><a href=#Dados>Entendendo os dados</a></li>
        <li><a href=#Graf>Gráficos</a></li>
        <li><a href=#TT>Treino e teste</a></li>
        <li><a href=#Reg>Criando Modelo de regressão linear múltipla</a></li>
        <li><a href=#Pred>Predições e Avaliações</a></li>    
    </ol>
</div>
<br>
<hr>

### Importando bibliotecas e recursos pertinentes

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

# <h2 id="DF">Criando DataFrame</h2>

In [8]:
df = pd.read_csv('ClientesBanco.csv', encoding='latin1')
df.head(5)

,CLIENTNUM,Categoria,Idade,Sexo,Dependentes,Educação,Estado Civil,Faixa Salarial Anual,Categoria Cartão,Meses como Cliente,...,Inatividade 12m,Contatos 12m,Limite,Limite Consumido,Limite Disponível,Mudanças Transacoes_Q4_Q1,Valor Transacoes 12m,Qtde Transacoes 12m,Mudança Qtde Transações_Q4_Q1,Taxa de Utilização Cartão
0,768805383,Cliente,45,M,3,Ensino Médio,Casado,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1335.0,1144,42,1625.0,0.061
1,818770008,Cliente,49,F,5,Ensino Superior,Solteiro,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1541.0,1291,33,3714.0,0.105
2,713982108,Cliente,51,M,3,Ensino Superior,Casado,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2594.0,1887,20,2333.0,0.000
3,769911858,Cliente,40,F,4,Ensino Médio,Não informado,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1405.0,1171,20,2333.0,0.760
4,709106358,Cliente,40,M,3,Sem ensino formal,Casado,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2175.0,816,28,2.5,0.000

## <h2 id="Dados">Entendendo os dados</h2>


### `Clientes_Banco.csv`:


Conjunto de dados **`Clientes_Banco.csv`**, Case Real, de um conjunto de dados já traduzido, referentes à clientes cartão de crédito de um banco X.


*   **CLIENTENUM** - 123456789 - **Número de identificação do cliente**
*   **Categoria** - Cliente/Cancelado - **Status de atividade**
*   **Idade** - 45 - **Idade do cliente**
*   **Sexo** - M/F
*   **Dependentes** - 3 - **Número de depententes do cliente**
*   **Educação** - Ensino médio - **Grau de escolaridade do s**
*   **Estado Civil** 
*   **Faixa Salarial Anual**
*   **Categoria Cartão'** 
*   **Meses como Cliente** 
*   **Produtos Contratados** 
*   **Inatividade 12m** 
*   **Contatos 12m**
*   **Limite** 
*   **Limite Consumido**
*   **Limite Disponível**
*   **Mudanças Transacoes_Q4_Q1**
*   **Valor Transacoes 12m** 
*   **Mudança Qtde Transações_Q4_Q1**

In [10]:
df.columns

Index(['CLIENTNUM', 'Categoria', 'Idade', 'Sexo', 'Dependentes', 'Educação',
       'Estado Civil', 'Faixa Salarial Anual', 'Categoria Cartão',
       'Meses como Cliente', 'Produtos Contratados', 'Inatividade 12m',
       'Contatos 12m', 'Limite', 'Limite Consumido', 'Limite Disponível',
       'Mudanças Transacoes_Q4_Q1', 'Valor Transacoes 12m',
       'Qtde Transacoes 12m', 'Mudança Qtde Transações_Q4_Q1',
       'Taxa de Utilização Cartão'],
      dtype='object')